# Raw and intermediate data
!data/raw/
!data/raw/files.txt
!data/raw/metadata

# FASTQs
data/raw/*.fastq.gz
data/raw/*.fq.gz

# Trimming
data/trimmed/

# Genomic reference
genome/

# Temp files
tmp/

# Large pipeline outputs
results/alignment/
results/fastqc/
results/motifs/
results/peaks/
results/tomtom/

# Execution logs
logs/*.log
logs/*.out

# Generic bioinformatics outputs
*.bam
*.bai
*.sam

*.fa
*.fasta
*.fai

*.narrowPeak
*.bed

*.html
*.xml
*.zip

# REMOVER ESTA LINHA
# *.gz

# IDE / OS
.DS_Store
Thumbs.db

.vscode/
.idea/
.zed/

# Final tables
!results/tables/
!results/tables/*.csv

# QC summary
!logs/qc_summary/
!logs/qc_summary/*.txt
